html,
body {
    height: 100%;
  margin: 0;
  background-color: rgb(239, 238, 238);
}
.content {
  min-height: 100%;
}
.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}
h1 {
  font-family: "Cardo", serif;
}
table {
  font-family: "Josefin Sans", sans-serif;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: left;
}

#icon {
  border: 1px solid grey;
  width: 45px;
  height: 45px;
  padding: 5px;
  margin: 40px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
  transition: all 0.3s;
}
#icon:hover {
  border: 1px solid red;
  color: red;
  transition: all 0.3s;
}

#map {
  border: thin solid rgb(239, 238, 238);
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
    height: 50px;
   text-align: center;
   font-family: "Josefin Sans", sans-serif;
}

#chartContainer{
    display: block;
    margin: 0 auto;
}
li{
    text-align: center;
    list-style-position: inside;
}
h2 {
    text-align:center;
     margin:0px;
}

#loading {
  display:block;
  margin: 0 auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}